.app {
  text-align: center;
}

.photo {
  position: absolute;
  top: 10vw;
  left: 22vw;
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
  outline: none;
}

.title {
  position: absolute;
  top: 13vw;
  left: 45vw;
  width: 50vw;
  font-family: 'Roboto', sans-serif;;
  font-size: 23px;
  font-weight: 500;
  outline: none;
  border: 0;
}

.subtitle {
  position: absolute;
  top: 21vw;
  left: 45vw;
  width: 50vw;
  outline: none;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #A9A9A9;
}

.text {
  position: absolute;
  top: 34vw;
  left: 5vw;
  width: 90vw;
  height: auto;
  outline: none;
  border: 0;
  font-family: 'Roboto', sans-serif;;
  font-size: 16px;
}

::placeholder {
  color: #A9A9A9;
}